body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

.header {
    font-family: 'Raleway', sans-serif;
    font-weight: 550;
    background-color: black;
    height: 50px;
    line-height: 50px;
}

.nav-list li{
    padding: 0 10px;
    font-size: 20px;
    display: inline-block;
    color: rgb(255, 255, 255);
}

.nav-list li:last-child a{
   display: block;    
   height: 35px;
   line-height: 35px;
   padding: 0 10px;
   background-color: rgb(228, 1, 1);
   border-radius: 4px;
   transition: all 500ms ease;
}

.nav-list li:last-child a:hover{
   background-color: rgb(207, 2, 2);
}

.nav-list li:last-child a svg{
    width: 1em;
}
